<h1>{{pageName}}</h1>
tw
<h1>{{registerPage | uppercase}}</h1>
{{userName}}
<h1>
    current population is {{population}}.next 5 years {{population | sqrt}}
</h1>

<div>
    <input type="text" [(ngModel)]="userName" placeholder="Enter Username">
</div>
<div>
    <input type="password" [(ngModel)]="password"  placeholder="Enter Password">
</div>
<div>
    <input type="button" (click)="login_btn()" value="Login">
</div>
<h2>{{currentDate | date : 'mediumTime'}}</h2>
<h2>{{price | currency :'Cad'}}</h2>
<hr>
<input type="text" [(ngModel)]="name" placeholder="Ente to filter">
@for(name of nameList |  nameFilter ;track $index	){
    <li>{{name}}</li>
}

<hr>
@for(name of nameDetails;track $index	){
    
    <li>{{name.name}}--{{name.mobile}}--
        @if(name.address == ''){
            No address Found
        }@else{
            {{name.address}}
        }        
    </li>
}
<hr>

@for(name of nameDetails;track $index	){    
    <li [class]="name.address==''?'red':'blue'">{{name.name}}--{{name.mobile}}--</li>
}

@if(show){
    <h1>show is true</h1>
}@else{
    <h1>it is hidden</h1>
}
<hr>

<hr>
<h1>User List</h1>
<select [(ngModel)]="pageNo"  (change)="changPageNo()">
    <option value="1">Page -1</option>
    <option value="2">Page -2</option>
    <option value="3">Page -3</option>
    <option value="4">Page -4</option>
</select>
@for(user of userlist;track $index){
    <p>{{user.first_name}}--{{user.email}}</p>
    <img src="{{user.avatar}}" alt="">
    <hr>
}@empty {
  <h1>User list is empty</h1>
  }
