<div style="text-align: center;">

@if(page == 'login'){
<form>
    <h1>Login page</h1>
    <div>
        <input type="text" placeholder="Enter Email">
    </div>
    <div>
        <input type="password" placeholder="enter Pwd">
    </div>
    <div>
        <input type="button" value="LOGIN" >
    </div>
    <button (click)="changeForm('register')">Show Register</button>
</form>
}@else{
<form>
    <h1>Register page</h1>
    <div>
        <input type="text" placeholder="Enter Email">
    </div>
    <div>
        <input type="password" placeholder="enter Pwd">
    </div>
    <div>
        <input type="password" placeholder="enter Confirm Pwd">
    </div>
    <div>
        <input type="button" value="Register">
    </div>
    <button  (click)="changeForm('login')">Show Login</button>
</form>
}
</div>